<h1 class="text-center">Realize seu Agendamento</h1>

<div class="container mt-4">
    <form>
        <h4>Informações do Cliente</h4>
        <div class="row mt-4">
            <div class="col-md-8">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>

            <div class="col-md-4 d-flex align-items-end">
                <button class="btn btn-primary w-100">Pesquisar</button>
            </div>
        </div>

        <!-- LINHA 2: Nome -->
        <div class="row mt-4 align-items-center">
            <div class="col-md-6 d-flex flex-column">
                <label for="inputNome" class="form-label mb-1">Nome</label>
                <input type="text" class="form-control" id="inputNome" placeholder="Digite o nome do cliente">
            </div>

            <div class="col-md-6 d-flex flex-column mb-1">
                <label for="inputAddress2">Telefone</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
        </div>
        <hr>

        <h4>Informações do Atendimento</h4>
        <div class="row mt-4">
            <div class="col-md-6">
                <label for="inputNome" class="form-label">Data do Atendimento</label>
                <input type="date" class="form-control" id="inputNome">
            </div>

            <div class="col-md-6">
                <label for="inputNome" class="form-label">Horário do Atendimento</label>
                <input type="time" class="form-control" id="inputNome">
            </div>
        </div>
        <hr>
        <div class="container d-flex justify-content-between align-items-center">       
            <h4>Listagem de Serviços Agendados</h4>
            <button class="me-2" type="submit">Adicionar Serviço</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>

        </table>
        <div class="row mt-4 align-items-center">

            <!-- Label + Input -->
            <div class="col-md-4 d-flex align-items-center">
                <label for="inputNome" class="me-2 mb-0">Valor total:</label>
                <input type="number" class="form-control" id="inputNome" readonly>
            </div>

            <!-- Botões -->
            <div class="col-md-8 d-flex justify-content-start gap-2">
                <button class="btn btn-primary">Realizar Agendamento</button>
                <button class="btn btn-secondary">Limpar Formulário</button>
            </div>

        </div>
        
    </form>
</div>