<footer class="footer mt-auto py-3 bg-info text-white">
  <div class="container-fluid px-lg-5">
    <div class="row align-items-center">

      <div class="col-md-4 text-center text-md-start">
        <span class="small">&copy; 2025 Beleza Pura. Todos os direitos reservados.</span>
      </div>
      
      <div class="col-md-4 text-center">
        <span class="small fw-semibold">
            &#64;Feito por: Lucas Alves e Nicolas Aparecido
        </span>
      </div>

      <div class="col-md-4 text-center text-md-end">
        <a href="#" class="text-white text-decoration-none small mx-2">Termos de Uso</a>
        <span class="small text-white-50">|</span>
        <a href="#" class="text-white text-decoration-none small mx-2">Política de Privacidade</a>
      </div>

    </div>
  </div>
</footer>
